<div id="new_diagnostic">
<input id="solution" type="hidden" edade="" detalhe="">
<form id="diagnostico-form" method="post" onclick="">
    {{ form_row(formulario._token) }}
    <div class="input-group ">
        <div class="row btn-group input-group ">
            <button type="button" class="btn btn-info btn-xs" id="my-save" url="{{path('daily_work')}}" my-id="{{paciente.getIdPaciente()}}">
                Salvar dados
            </button> 
            <button type="button" class="btn btn-info btn-xs" id="my-consultas" url="{{path('view_consulta_url')}}" my-id="{{paciente.getIdPaciente()}}">
                Consultas
            </button> 
        </div>
        <div id="datepickid" class="row input-group " style="padding-top: 10px;">
            <span class="label">
                Data da consulta
            </span>
            {{ form_widget(formulario.data, { 'attr': {'maxlength':'10','class' :'form-control date-picker', 'data-date-format':'dd-mm-yyyy'}} ) }}           
        </div>
        {% if form_errors(formulario.data) %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Erro na entrada da data
                </div>
        {% endif %}
    </div>
    <h4 class="header green">
        Diagn&oacute;stico 
    </h4>
    {{ form_widget(formulario.observacao, { 'attr': {'class' : 'dd2-content col-xs-12 col-sm-12', 'rows':"10"} }) }}
    {% if form_errors(formulario.observacao) %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Erro na entrada do diagn&oacute;stico 
                </div>
    {% endif %}
    <!--Receta ----------------------------------------------------------------------------------->
    <h4 class="header green">Receita medica</h4>
    {{ form_widget(formulario.receita, { 'attr': {'class' : 'dd2-content col-xs-12 col-sm-12', 'rows':"10"} }) }}
    {% if form_errors(formulario.receita) %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Erro na entrada da receita medica 
                </div>
    {% endif %}
    
</form>
 </div>
