<form class="my-form" onclick="" method="post">
    <div>
        <div>
            <div class="widget-header">
                <h4>Dados do Paciente</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="step-content row-fluid position-relative" id="step-container">
                                <div class="form-group">
                                    <div class="widget-box">
                                        <div class="widget-header widget-header-small header-color-green">
                                            <label class="control-label"> Nome do paciente </label>
                                        </div>
                                        <div class="widget-body">
                                            {% if form_errors(modal.nome) %}
                                                <div class="alert alert-danger">
                                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                    {{ form_errors(modal.nome) }}
                                                </div>
                                            {% endif %}
                                            <div class="widget-main row" style="">
                                                {{ form_widget(modal.nome, { 'attr': {'class' : 'col-xs-12 col-sm-12', 'style': 'border: none;'} }) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="widget-box">
                                        <div class="widget-header widget-header-small header-color-green">
                                            <label class="control-label"> Data do nacimeinto </label>
                                        </div>

                                        <div class="widget-body">
                                            {% if form_errors(modal.data_nascimento) %}
                                                <div class="alert alert-danger">
                                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                    {{ form_errors(modal.data_nascimento) }}
                                                </div>
                                            {% endif %}
                                            <div class="widget-main row">
                                                {{ form_widget(modal.data_nascimento, { 'attr': {'class' : 'col-xs-12 col-sm-12 form-control input-mask-date', 'style': 'border: none;'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="widget-box">
                                        <div class="widget-header widget-header-small header-color-green">
                                            <label class="control-label"> Tipo da sangre</label>
                                        </div>

                                        <div class="widget-body">
                                            {% if form_errors(modal.tipoSanguineo) %}
                                                <div class="alert alert-danger">
                                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                    {{ form_errors(modal.tipoSanguineo) }}
                                                </div>
                                            {% endif %}
                                            <div class="widget-main row">
                                                {{form_widget(modal.tipoSanguineo, { 'attr': {'class' : 'col-xs-1 col-sm-5', 'style': 'border: none;'} }) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_row(modal._token) }}
</form>