{% extends 'layout.html.twig' %}

{% block page_content %}

    <div class="page-content">
        <div class="page-header row">
            {% if app.user.rol.id == 1 %}  
                <div class="col-md-4 col-sm-4">
                    <h1>
                        Maneje seus pacientes:
                    </h1>
                </div>
                <div class="col-md-offset-6 col-sm-offset-6 col-md-2 col-sm-3">
                    <a href="#" class="btn btn-app btn-info btn-sm no-radius" >
                        <i class="icon-envelope bigger-230"></i>
                        MailList
                    </a>
                </div>
            {% endif %}          

        </div><!-- /.page-header -->

        <div id="accordion1" class="accordion-style2 panel-group no-padding-right">
            <div class="panel panel-default">
                <div class="row">
                    <!--<label class="col-md-2 col-sm-2 panel-title  blue  accordion-submenu" id="acoordion-title1">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> 
                            Criterio Filtragem
                            <i class="icon-angle-down bigger-110" data-icon-hide="icon-angle-down " data-icon-show="icon-double-angle-right"></i>
                        </a>
                    </label>-->
                    <!--<div id="filters" class="col-md-8 col-sm-8"></div>-->
                </div>
                <div class="space" > </div> 
                <div class="panel-collapse collapse in" id="collapseOne">	

                    <div class="col-md-12">
                        <div class="row">
                            <div class="table-responsive">
                                <table id="sample_3" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <!-- <th class="center">Seleccionar</th> -->                                        
                                            <th>Nome Paciente</th>
                                            <!--<th class="hidden-480 center">Responsavels</th> -->
                                            <th>Responsáveis</th>                                       
                                            <th>Ação</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Nome Paciente</th>
                                            <th>Responsáveis</th>                                                                                   
                                        </tr>
                                    </tfoot>                                  
                                                                           
                                    {% for d in p %}
                                                <tr>
                                                    <td class="center">
                                                        <ul class="list-unstyled spaced2 pnome">
                                                            <li class="muted align-left align-middle">                                                               
                                                                <a href="{{path('daily_work')}}{{d.nome}}">{{d.nome}}</a>                                            
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td class="center">
                                                        <ul class="list-unstyled spaced2">
                                                                <li class="muted align-left">                                                                   
                                                                    {{d.nome_resp}} </li>
                                                                {% if d.nome_resp != d.nome_resp2 %}
                                                                    <li class="muted align-left">                                                                   
                                                                        {{d.nome_resp2}} </li>
                                                                {% endif %}
                                                        </ul>
                                                    </td>      



                                                    <td class="center">   
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                         {% if app.user.rol.id == 1 %}   
                                                            <button onclick="window.location.replace('{{ path('atendimento', {'id_paciente': d.paciente_id |default('default_id_paciente')}) }}');" class="btn btn-link btn-link-ajustado tooltip-default" data-rel="tooltip" data-placement="bottom" 
                                                                    title="Ficha">
                                                                <i class="icon-leaf bigger-230 dark "></i>
                                                            </button>   
                                                            <button onclick="window.location.replace('{{path('daily_work')}}{{d.paciente_id}}');" class="btn btn-link btn-link-ajustado tooltip-default" data-rel="tooltip" data-placement="bottom" 
                                                                    title="Fazer Consulta">
                                                                <i class="icon-briefcase bigger-230 green"></i>
                                                            </button> 
                                                         {% endif %}          
                                                         <button id="delete" num="{{d.paciente_id}}" name="Apagar" value="{{d.paciente_id}}" class="btn btn-link btn-link-ajustado tooltip-default" data-rel="tooltip" data-placement="bottom"  type="button" title="Apagar" onclick="Borrar(this)">
                                                                <i class="icon-trash bigger-230 red"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                        {%endfor%}

                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="space" > </div> 	


    </div>   


{% endblock %}


{% block javascripts_page %}
    <script type="text/javascript">   
    
    function Borrar(o){
        var a = confirm("Deseja apagar esta línea");
        if(a){
            var path = "{{ path('reports_delete') }}";
            var path2 = "{{ path('reports_homepage') }}";
            //alert('llego');
            var json = {
                'id': o.value,
                'page':$('#page_number').attr('name')
            };            
            $.ajax({
                    type: "POST",
                    url: path,
                    data: json,
                    // async: true,
                    dataType: "json",
                    success: function (response)
                    {
                       location.href = path2;

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown)
                    {
                        // stuff there
                    }
                });           
        }else{
            return false;
        }     
        
    }
        
    $(document).ready(function() {     
        $('#sample_3 tfoot th').each(function () {
            var title = $('#sample_3 thead th').eq($(this).index()).text();
            $(this).html('<input type="text" placeholder="Busca ' + title + '" />');        
        });
                
        var table = $('#sample_3').dataTable({
            language: {                 
                 search:     "Busca Geral",
                 lengthMenu: "Mostrar _MENU_ líneas por página",
                 zeroRecords: "Nada encontrado - desculpe",
                 info: "Mostrando _PAGE_ de _PAGES_ páginas" ,
                 infoEmpty: "Não há registros disponíveis",
                 infoFiltered: "(filtrado de _MAX_ registros em total)"
            }
        });
        $('#sample_3 tfoot th').each(function (i) 
        {
            var title = $('#sample_3 thead th').eq($(this).index()).text();
            // or just var title = $('#sample_3 thead th').text();
            var serach = '<input type="text" placeholder="Busca ' + title + '" />';
            $(this).html('');
            $(serach).appendTo(this).keyup(function(){table.fnFilter($(this).val(),i)})
        });
        
        //otras cosas       
    });   
     
</script>    
{% endblock javascripts_page %} 


